<div class="add-form-container">
  <h2>Editar Cliente</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <section class="dados">
      <div>
        <label for="name">Nome:</label>
        <input type="text" id="name" required formControlName="name" class="form-control">
        <!-- Mensagem de erro para o nome -->
        <div *ngIf="addForm.get('name')?.invalid && addForm.get('name')?.touched">
          Nome é obrigatório.
        </div>
      </div>
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" required formControlName="email" class="form-control">
        <!-- Mensagem de erro para o e-mail -->
        <div *ngIf="addForm.controls['email'].invalid && addForm.controls['email'].touched">
          Forneça um e-mail válido.
        </div>
      </div>
      <div>
        <label for="password">Senha:</label>
        <input type="password" id="password" required formControlName="password" class="form-control">
      </div>
    </section>

    <section class="endereco">
      <div>
        <label for="street">Rua:</label>
        <input type="text" id="street" required formControlName="street">
      </div>
      <div>
        <label for="city">Cidade:</label>
        <input type="text" id="city" required formControlName="city">
      </div>
      <div>
        <label for="state">Estado:</label>
        <input type="text" id="state" required formControlName="state">
      </div>
      <div>
        <label for="cep">CEP:</label>
        <input type="text" id="cep" required formControlName="cep">
      </div>
    </section>

    <button type="submit" class="btn btn-primary" [disabled]="!addForm.valid">Adicionar Cliente</button>

  </form>
</div>
